<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Registation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6402EFD20E3A18A008BEBD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6402F1420E3A192008BEBD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6402F1F20E3A192008BEBD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
